*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

header{
    background:#0f172a;
    color:white;
    padding:15px 30px;
    display:flex;
    justify-content:space-between;
}

header a{
    color:white;
    text-decoration:none;
    margin-left:15px;
}

.hero{
    background:#38bdf8;
    padding:60px;
    text-align:center;
}

section{
    padding:40px;
    text-align:center;
}

.cards{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:20px;
}

.card{
    background:#e2e8f0;
    padding:20px;
    width:120px;
    border-radius:8px;
}

footer{
    background:#0f172a;
    color:white;
    text-align:center;
    padding:15px;
}
